@import "component";

@media only screen and (max-width: 400px) {
    .navigation-bar {
        justify-content: space-between;
        position: fixed;

        .nav-bar {
            margin: 0;
        }
    }

    .body-container {
        width: 375px;
        padding: 64px 0px;
    }

    .first-img {
        width: 343px;
    }

    .body-content {
        width: 343px;
        gap: 16px;

        .sku-management {
            span {
                font-size: $size-36;
                font-weight: $font-bold-1;
                white-space: nowrap;
                line-height: 44px;
                text-align: left;
            }

            img {
                width: 343px;
            }

            p {
                font-size: $size-18;
                font-weight: $font-bold-2;
                line-height: 28px;
                text-align: left;
            }
        }
    }

    .body-btn {
        width: 343px;
        padding: 12px 20px 12px 20px;
        gap: 8px;
        border-radius: 8px;
    }

    .about-container {
        width: 375px;
        padding: 64px 0px;
        gap: 48px;
    }

    .about-container-head {
        width: 343px;
        gap: 16px;

        span {
            width: 343px;
            font-family: Poppins;
            font-size: $size-18;
            line-height: 28px;
            text-align: center;
        }
    }

    .about-top {
        width: 139px;
        gap: 12px;

        .about-heading {
            font-size: $size-16;
            font-weight: $font-bold-1;
            line-height: 24px;
            text-align: center;
        }

        .about-para {
            width: 139px;
            font-size: $size-30;
            line-height: 38px;
            text-align: center;
        }
    }

    .about-body {
        width: 343px;
        gap: 48px;
    }

    .about-body-img {
        width: 343px;
    }

    .about-card-section {
        width: 343px;
    }
    .about-card-section{

        .about-card-part {
            width: 343px;
            display: flex;
            flex-direction: column;
            gap: 48px;
        }
    }

    .about-card-body-text {
        width: 343px;

        span {
            font-size: $size-16;
            line-height: 24px;
            text-align: left;
        }
    }

    .features-container {
        display: inline-flex;
        width: 100%;
        padding: 64px 0px;
        margin: auto;

        .features-body {
            width: 375px;
            padding: 0px;
            margin: auto;
            gap: 64px;
        }
    }

    .features-head {
        width: 343px;
        gap: 16px;

        .features-head-top {
            width: 343px;
            gap: 12px;

            .features-para {
                font-size: $size-30;
                line-height: 38px;
            }
        }

        .features-cont {
            font-size: $size-18;
            line-height: 28px;
        }
    }

    .features-card-section {
        grid-template-columns: 1fr;
    }

    .features-card-body {
        width: 295px;

        .features-card-body-head {
            font-size: $size-18;
            line-height: 28px;
            white-space: wrap;
        }

        .features-card-body-text {
            width: 295px;
            gap: 0px;
        }
    }

    .analytic_tool {
        width: 375px;
        padding: 64px 0px;

        .tool-body {
            width: 343px;
            gap: 48px;

            .tool-heading{
                width: 343px;
                font-size: $size-30;
                line-height: 38px;
            }

            .tool-para {
                width: 343px;
                font-size: $size-18;
                line-height: 28px;
                text-align: left;
            }
        }

        .tool-img {
            width: 343px;
        }
    }

    .get-free-container {
        padding: 32px 16px;
        max-width: 480px;
    }

    .get-free-body {
        gap: 64px;
        width: 278px;
    }

    .get-free-body-text {
        width: 279px;
        gap: 32px;

        .get-free-head-1 {
            font-size: $size-30;
            line-height: 38px;
        }

        .get-free-head-2 {
            font-size: $size-18;
            line-height: 28px;
            text-align: center;
        }

        button {
            max-width: 279px;
            width: 100%;
            display: block;
            text-align: center;
            padding: 12px 20px;
            font-size: $size-16;
            line-height: 24px;
        }
    }

    .footer-container {
        width: 343px;
        padding: 32px 16px 0px 16px;
        gap: 48px;
    }

    .footer-logo {
        width: 214px;
        gap: 10px;

        img {
            width: 42px;
        }

        span {
            font-size: $size-30;
        }
    }

    .footer-upper {
        width: 343px;

        .footer-body {
            width: 343px;

            .footer-body-content {
                width: 343px;

                .footer-content-head {
                    width: 343px;
                }
            }
        }
    }

    .footer-lower {
        width: 343px;
        padding-bottom: 48px;

        .footer-lower-container {
            flex-direction: column;
            padding-top: 0%;
        }
    }
}