@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "component";

body {
    margin: auto;
    padding: 0;
    font-family: $font-family;
}

.navigation-bar {
    max-width: 1440px;
    position: fixed;
    padding: 0 80px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $white;
    z-index: 1000;

    .nav-bar {
        display: flex;
        max-width: 1280px;
        margin: auto;
        justify-content: space-between;

        .nav-left {
            display: flex;
            max-width: 582px;
            padding: 20px 32px;
            gap: 40px;
        }
    }
}


.logo {
    display: flex;
    max-width: 157px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    gap: 10px;

    img {
        max-width: 32px;
        align-self: center;
    }

    span {
        color: $font-color-1;
        padding: 1px 0;
        font-size: $size-20;
        font-weight: $font-bold-1;
        line-height: 30px;
        text-align: left;
    }
}

.nav-contents {
    display: flex;
    max-width: 385px;
    padding: 4px 0;
    gap: 32px;
    cursor: pointer;

    span {
        font-size: $size-16;
        font-weight: $font-bold-1;
        line-height: 24px;
        text-align: left;
        color: $font-color-2;
    }
}

.nav-right {
    display: flex;
    justify-content: center;
    max-width: 142px;
    gap: 12px;
    padding: 18px 32px;

    .log-in-btn {
        color: $font-color-2;
        font-family: $font-family;
        font-size: $size-16;
        border: none;
        background-color: $white;
        font-weight: $font-bold-1;
        line-height: 24px;
        text-align: left;
        padding: 6px 0;
    }

    .sign-up-btn {
        display: flex;
        gap: 8px;
        border: none;
        background-color: $primary-color;
        padding: 8px 14px;
        border-radius: 8px;
        font-family: $font-family;
        font-size: $size-14;
        font-weight: $font-bold-1;
        line-height: 20px;
        text-align: left;
        color: $white;
        cursor: pointer;
        transition: background-color 0.5s ease;
    }

    .sign-up-btn:hover {
        background-color: $hover-color;
    }
}

.hamburger {
    display: none;

    .cross-icon,
    .ham-icon {
        display: none;
        border: none;
        background-color: white;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .list-menu {
        padding: 18px 32px;
        display: none;
        gap: 10px;
        flex-direction: column;
        position: absolute;
        width: 90%;
        left: 0px;
        justify-content: center;
        text-align: start;
        background-color: $white;

        .list {
            font-size: $size-16;
            font-weight: $font-bold-1;
            line-height: 24px;
            text-align: left;
            color: $font-color-2;
            border-radius: 8px;
            padding: 6px 32px 6px 42px;
        }

        .list:active {
            background-color: #f0fdf9;
            color: #107569;
        }
    }
}

.body-container {
    max-width: 1280px;
    margin: auto;
    padding: 96px 32px;
    gap: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .body-content {
        display: flex;
        flex-direction: column;
        max-width: 576px;
        gap: 48px;
        margin: auto;
    }

    .first-img {
        max-width: 576px;
    }
}

.sku-management {
    display: flex;
    flex-direction: column;
    gap: 24px;

    span {
        font-size: $size-60;
        font-weight: $font-bold-1;
        line-height: 72px;
        text-align: left;
    }

    img {
        max-width: 480px;
    }

    p {
        font-size: $size-20;
        font-weight: $font-bold-2;
        line-height: 30px;
        text-align: left;
    }
}

.body-btn {
    font-family: $font-family;
    max-width: 171px;
    display: flex;
    padding: 16px 28px;
    gap: 12px;
    border: none;
    border-radius: 8px;
    background-color: $primary-color;
    color: $white;
    font-size: $size-18;
    font-weight: $font-bold-1;
    line-height: 28px;
    text-align: left;
    transition: background-color 0.5s ease;
}

.body-btn:hover {
    background-color: $hover-color;
}

.about-container {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    max-width: 1280px;
    padding: 96px 32px;
    gap: 64px;

    .about-container-head {
        max-width: 1216px;
        margin: auto;
        gap: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
}

.about-top {
    max-width: 176px;
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-heading {
        font-size: $size-16;
        font-weight: $font-bold-1;
        line-height: 24px;
        text-align: left;
        color: $primary-color;
    }

    .about-para {
        font-size: $size-36;
        font-weight: $font-bold-1;
        line-height: 44px;
        text-align: left;
        color: $font-color-1;
    }
}

.about-body {
    max-width: 1216px;
    display: flex;
    gap: 64px;
}

.about-body-img {
    max-width: 576px;
}

.about-card-section {
    display: flex;
    flex-direction: column;
    width: 680px;
    gap: 64px;

    .about-card-part {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.about-card {
    max-width: 272px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .about-card-icon {
        display: flex;
        max-width: 24px;
        justify-content: center;
        padding: 12px 12px;
        gap: 10px;
        border-radius: 12px;
        border: 1px solid $font-color-3;

        img {
            max-width: 24px;
            align-self: center;
        }
    }

    .about-card-body-text {
        display: flex;
        flex-direction: column;
        max-width: 272px;
        gap: 8px;

        span {
            font-size: $size-20;
            max-width: 100%;
            font-weight: $font-bold-1;
            line-height: 30px;
            text-align: left;
            color: $font-color-1;
        }

        p {
            font-size: $size-16;
            max-width: 100%;
            font-weight: $font-bold-2;
            line-height: 24px;
            text-align: left;
            margin: 0;
            color: $font-color-2;
        }
    }
}

.features-container {
    max-width: 1440px;
    margin: auto;
    background-color: $secondary-color;
    padding: 0 80px;

    .features-body {
        display: flex;
        margin: auto;
        flex-direction: column;
        max-width: 1280px;
        padding: 96px 32px;
        gap: 64px;
    }
}

.features-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1216px;
    margin: auto;
    gap: 20px;

    .features-head-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 986px;
        gap: 12px;

        .features-heading {
            max-width: 72px;
            font-size: $size-16;
            font-weight: $font-bold-1;
            line-height: 24px;
            text-align: left;
            color: $primary-color;
        }

        .features-para {
            max-width: 986px;
            font-size: $size-36;
            font-weight: $font-bold-1;
            line-height: 44px;
            text-align: left;
            color: $white;
        }
    }

    .features-cont {
        max-width: 797px;
        font-size: $size-20;
        font-weight: $font-bold-2;
        line-height: 30px;
        text-align: left;
        color: white;
    }
}

.features-card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    max-width: 1216px;
    gap: 32px;

    .features-card {
        display: flex;
        flex-direction: column;
        max-width: 384px;
        padding: 32px 24px;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        border-inline: 1px solid $font-color-3;
        background-color: $white;
    }
}

.features-card-head {
    display: flex;
    max-width: 24px;
    padding: 12px;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid $font-color-3;
}

.features-card-body {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;

    .features-card-body-head {
        font-size: $size-20;
        white-space: nowrap;
        font-weight: $font-bold-1;
        line-height: 30px;
        text-align: center;
    }

    .features-card-body-text {
        max-width: 336px;
        font-size: $size-16;
        font-weight: $font-bold-2;
        line-height: 24px;
        text-align: center;
        color: $font-color-2;
    }
}

.analytic_tool {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 32px;
    margin: auto;
    gap: 64px;

    .tool-body {
        display: flex;
        flex-direction: column;
        max-width: 576px;
        gap: 24px;

        .tool-heading {
            font-size: $size-36;
            font-weight: $font-bold-1;
            line-height: 44px;
            text-align: left;
            color: $black;
        }

        .tool-para {
            font-size: $size-20;
            font-weight: $font-bold-2;
            line-height: 30px;
            text-align: left;
            color: $font-color-2;

            span {
                color: $primary-color;
            }
        }
    }

    .tool-img {
        max-width: 576px;
    }
}

.get-free-container {
    max-width: 1280px;
    margin: auto;
    padding: 96px 0px;
}

.get-free-body {
    display: flex;
    max-width: 1280px;
    padding: 96px 32px;
    gap: 64px;
    border-radius: 20px;
    background-color: $secondary-color;
}

.get-free-body-text {
    max-width: 1216px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    gap: 48px;

    .get-free-head {
        max-width: 1216px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .get-free-head-1 {
            font-size: $size-36;
            font-weight: $font-bold-1;
            line-height: 44px;
            text-align: center;
            color: $white;
        }

        .get-free-head-2 {
            font-size: $size-20;
            font-weight: $font-bold-2;
            line-height: 30px;
            text-align: center;
            color: $font-color-3;
        }
    }

    button {
        font-family: $font-family;
        font-size: $size-18;
        font-weight: $font-bold-1;
        line-height: 28px;
        text-align: left;
        max-width: 171px;
        display: flex;
        padding: 16px 28px;
        gap: 12px;
        border: none;
        border-radius: 8px;
        color: $white;
        background-color: $primary-color;
        transition: background-color 0.5s ease;
    }

    button:hover {
        background-color: $hover-color;
    }
}

.footer-container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 64px 80px 48px 80px;
    gap: 64px;
    border-top: 1px solid $font-color-3;
}

.footer-upper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    padding: 0px 32px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 162px;

    .footer-logo {
        display: flex;
        max-width: 265px;
        padding: 2px 0;
        align-items: center;
        gap: 10px;

        img {
            width: 48px;
        }

        span {
            max-width: 207px;
            white-space: nowrap;
            font-size: $size-36;
            font-weight: $font-bold-1;
            line-height: 44px;
            text-align: left;
            color: $font-color-1;
        }
    }

    .footer-body {
        max-width: 789px;
        display: flex;
        flex: 1;
        gap: 32px;

        .footer-body-content {
            width: 173.25px;
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        .footer-content-head {
            font-size: $size-14;
            font-weight: $font-bold-2;
            line-height: 20px;
            text-align: left;
            color: $font-color-2;

            img {
                display: none;
            }
        }

        .accordion-btn {
            display: none;
        }

        .footer-content-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            white-space: nowrap;
            flex-direction: column;
            max-width: 78px;
            gap: 16px;

            li {
                font-size: $size-16;
                font-weight: $font-bold-1;
                line-height: 24px;
                text-align: left;
                color: $font-color-2;
                border-radius: 8px;
            }
        }
    }
}

.footer-lower {
    max-width: 1280px;
    padding: 31px 32px;

    .footer-lower-container {
        max-width: 1216px;
        display: flex;
        justify-content: space-between;
        .footer-lower-body {
            span {
                font-family: "Montserrat";
                font-size: $size-14;
                font-weight: 500;
                gap: 0;
                line-height: 24.5px;
                text-align: center;
                color: $font-color-2;
            }
        }

        .footer-lower-icons {
            max-width: 168px;
            display: flex;
            gap: 8px;

            .footer-icon {
                width: 36px;
                display: flex;
                padding: 9.86px 10px 10.14px 10px;
                border-radius: 4px;
                border: 1px solid $font-color-2;
            }
        }
    }
}